*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins";
}
.header{
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-icon{
    display: none;
}
.logo{
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
}
.navbar a{
    font-size: larger;
    margin-left: 4rem;
    font-weight: 300;
}
 
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-content h1{
    font-size: larger;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home-content h3{
    font-size: large;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
 