*{
    margin: 0;
}

.feature{
    color: #030404;

}

.ArtEquipment{}

.na{
    position: static;
}

.main-image{
    display: flex;
    position: absolute;
    top: 80px;

    
}


.our-feature{
    display: flex;
    position: absolute ;
    top: 500px;
    text-align: center;
    flex-direction: column;
  
    font-family: "Yuyu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.our-feature_title{
    font-size:60px;
    background-color: #030404;
    color: rgb(27, 193, 199);

}

.our-feature_container {
    display: grid;
    grid-template-columns:repeat(6,1fr);
    gap: 24px;
    margin: 40px auto;
    padding: 20px;
   
}

.card{
    background-color: rgb(208, 238, 238);
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease;

}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3){
    grid-column:span 2;
}
.card:nth-child(4){
    grid-column: 2/span 2;
}
.card:nth-child(5){
    grid-column: span 2;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 80px;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid rgba(157, 2, 8, 0.5);
}

.logo{
    font-size: 34px;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
}

.logo span{
    color: #9d0208;
}


.navbar a{
    font-size: 18px;
    color: white;
    margin-left: 70px;
    font-weight: 600;
    transition: 0.3s ease;
    position: relative;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #9d0208;
    transition: 0.3s;
}

.navbar a:hover{
    color: #9d0208;
}

.navbar a:hover::after{
    width: 100%;
}

.feature-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid: gap 1rem;
    padding: 50px;;
}